<h2> Welcome <%= @name %> </h2>

<h3> Please select your choice: </h3>
<form action="/play" method ="post">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
