<!DOCTYPE html>
<html>
<head>
  <title>Named Player chooses RPS Option</title>
   <style>
   h1 {
      text-align: center;
      color: #0B264F
     }
   label {
    width: 250px;
    float: left;
    margin: 0 30px 0 30px;
  }
  span {
      display: block;
    }

    input[type=submit] {
      padding: 10px 20px;
      margin: 20px 450px;
      background:#0B2;
      border:2
      -webkit-border-radius: 12px;
      border-radius: 5px;
      font-size: 20px;
    }

  </style>
</head>
<body>
  <h2> <%= "#{@player.name}" %> </h2>
  <h3> Make Your Choice: </h3>

 <form action= "/option" method="post">
   <label for="Rock">
     <span> Rock:</span>
   <input type="submit" name="choice" value="Rock">
   <label for="Paper">
     <span> Paper:</span>
   <input type="submit" name="choice" value="Paper">
   <label for="Scissors">
     <span> Scissors:</span>
   <input type="submit" name="choice" value="Scissors">
</form>

</body>
</html>
