<!DOCTYPE html>
<html>
<head>
  <title>Named Player chooses RPS Option</title>
  <style>
     span {
        display: block;
       }

  </style>
</head>

<body>
  <h2> <%= "#{@player}" %> </h2>
  <h3> Make Your Choice: </h3>

 <form action= "/choicez" method="post">
   <label for="Rock">
     <span> Rock:</span>
   <input type="submit" name="choice" value="Rock">
   <label for="Paper">
     <span> Rock:</span>
   <input type="submit" name="choice" value="Paper">
   <label for="Scissors">
     <span> Scissors:</span>
   <input type="submit" name="choice" value="Scissors">
</form>

 <!-- <% if @in_play %>
   <h4> The computer selected: <%= "#{@comp_decision}" %>

 <% if @choice == "Rock" &&  @comp_decision == "Paper" %>
    <h4> Player Lost </h4>
 <% elsif @choice == "Rock" &&  @comp_decision == "Scissor" %>
     <h4> Player Won </h4>

<% elsif @choice == @comp_decision %>
    <h4>  -->

</body>
</html>
