<!DOCTYPE html>
<html>
<head>
  <title>Named Player chooses RPS Option</title>
  <style>
     span {
        display: block;
       }

  </style>
</head>

<body>
  <h2> <%= "#{@name}" %> </h2>
  <h3> Make Your Choice: </h3>

 <form action= "/choice" method="post">
   <label for="Rock">
     <span> Rock:</span>
   <input type="submit" name="choice" value="Rock">
   <label for="Paper">
     <span> Paper:</span>
   <input type="submit" name="choice" value="Paper">
   <label for="Scissors">
     <span> Scissors:</span>
   <input type="submit" name="choice" value="Scissors">
</form>

</body>
</html>
