<!DOCTYPE html>
<html>
<head>
  <title>Results of the Game</title>
  <style>
     span {
        display: block;
       }

  </style>
</head>

<body>
  <h4> Welcome <%=@player_name%> </h4>
  <h4> You Choice was: <%=@player_choice%> </h4>

</body>
